<!-- 
<footer class="footer_section pt-5 bg-theme2 position-relative mt-5 pt-5">
<div class="container-fluid inner_section py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-0 mb-0">
                <div class="footer_box">
                    <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Support</h2>
                    <ul class="links_footer email_add list-unstyled p-0">
                        <li><a href="mailto: ajay.dev5776@gmail.com" class="fs-md-15 fs-14 text-white mb-1 d-inline-block"><strong>Email: </strong>ajay.dev5776@gmail.com</a></li>
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block"><strong>Address: </strong> 7066 El Cajon Blvd, San Diego, CA 92115</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5 mb-4">
                <div class="footer_box">
                    <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Main Links</h2>
                    <ul class="links_footer list-unstyled p-0">
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">Home</a></li>
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">Services</a></li>
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">Work</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-0 mb-4">
                <div class="footer_box">
                    <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Usefull Links</h2>
                    <ul class="links_footer list-unstyled p-0">
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">About Us</a></li>
                        <li><a href="javascript:;" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">Blog</a></li>
                        <li><a href="contact.html" class="fs-md-15 fs-14 text-white mb-1 d-inline-block">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5 mb-4">
                <div class="footer_box">
                    <h2 class="box_head inner_heading text-white fw-bold mb-3 fs-20">Get In Touch</h2>
                    <div class="social_icon">
                        <ul class="links_footer list-unstyled p-0 d-flex align-items-center gap-3">
                            <li><a href="javascript:;" class="fs-md-15 fs-14 mb-1 w-40px h-40px rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/fb.svg" alt=""></a></li>
                            <li><a href="javascript:;" class="fs-md-15 fs-14 mb-1 w-40px h-40px rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/instagram.svg" alt=""></a></li>
                            <li><a href="javascript:;" class="fs-md-15 fs-14 mb-1 w-40px h-40px rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/twitter.svg" alt=""></a></li>
                            <li><a href="javascript:;" class="fs-md-15 fs-14 mb-1 w-40px h-40px rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/linkedin.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container copyright-inner ">
        <div class="row py-3">
            <div class="col-12 fs-lg-15 fs-md-14 fs-14 text-center text-white">
                © <strong><span> <b>Assv Portfolio</b></span></strong>. All Rights Reserved | <a href="javascript:;" target="_blank" class="credits m-0 text-decoration-none">
                    <span><b class="text-white">Design &amp; Developed By</b></span> <img data-bs-toggle="tooltip" data-bs-placement="top" title="" src="blank" class="h-md-30px h-25px" alt="" data-bs-original-title="AJAY SAINI" aria-label="AJAY SAINI">
                </a>
            </div>
        </div>
    </div>
</div>
</footer> -->