<footer class="footer_section mt-5 bg-theme2 position-relative">
    <div class="container-fluid inner_section py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box card border-0 shadow rounded-4 bg-dark">
                        <div class="card-body py-5">
                            <div class="footerlogo text-center mb-3"><img src="assets/img/header/logo.png" alt=""></div>
                            <p class="text-secondary fs-14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, odio.</p>
                            <ul class="linksfooter list-unstyled p-0">
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/footer/location.svg" alt="" class="w-100"></div><a href="javascript:;" class="text-decoration-none text-white fs-14 d-block">123 Anywhere Street,Somewhere.</a></li>
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/footer/email.svg" alt="" class="w-100"></div><a href="mailto: crcrickety@gmail.com" class="text-decoration-none text-white fs-14 d-block"><strong>Email: </strong>crcrickety@gmail.com</a></li>
                                <li class="d-flex align-items-start mb-2 gap-2"><div class="iconImg d-inline-block"><img src="assets/img/index/calling.svg" alt="" class="w-100"></div><a href="tel: +9587979748" class="text-decoration-none text-white fs-14 d-block">+1800 1200 1500</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-theme1 fw-bold mb-3 fs-20">Quick Links</h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>About Us</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Services</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Packages</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Blog</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-theme1 fw-bold mb-3 fs-20">Useful Links</h2>
                        <ul class="links_footer list-unstyled p-0">
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Privacy Policy</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Terms &amp; Conditions</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Disclaimer</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>Support</a></li>
                            <li><a href="" class="text-decoration-none text-white fs-14 mb-1 d-inline-block"><i class="me-1 imgr img-angle-double-right"></i>FAQ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer_box">
                        <h2 class="box_head inner_heading text-theme1 fw-bold mb-3 fs-20">News letter</h2>
                        <div class="social_icon">
                            <ul class="socillinkfooter list-unstyled p-0 d-flex align-items-center gap-3">
                                <li><a href="javascript:;" class="text-decoration-none text-white mb-1 p-1 rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/fb.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="javascript:;" class="text-decoration-none text-white mb-1 p-1 rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/twitter.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="javascript:;" class="text-decoration-none text-white mb-1 p-1 rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/instagram.svg" alt="" class="w-100 h-100"></a></li>
                                <li><a href="javascript:;" class="text-decoration-none text-white mb-1 p-1 rounded-circle bg-white text-theme1 d-flex align-items-center justify-content-center"><img src="assets/img/icon/linkedin.svg" alt="" class="w-100 h-100"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>