<nav class="navbar navbar-expand-lg  position-fixed w-100 bg-transparent py-3 top-0">
<div class="container">
	<a class="navbar-brand fw-medium" href="index.html"><img src="assets/img/header/logo.png" alt="Logo" class="w-100 h-100"></a>
		<div class="icone_list d-lg-none d-md-block d-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
			<img src="assets/img/header/list.svg" class="w-100" alt="">
		</div>
		<div class="icone_list d-md-none d-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
			<img src="assets/img/header/list.svg" class="w-100" alt="">
		</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mx-auto align-items-center gap-3">
			<li class="nav-item"><a class="nav-link position-relative active fs-16 fw-bold fw-normal text-white" aria-current="page" href="javascript:;">Home</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">About Us</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Services</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Package</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Support</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Contants</a></li>
			<!-- <li><a href="contact.html" class="download_btn main_btn more_btn text-theme2 text-decoration-none">CONTECT ME</a></li> -->
		</ul>
		<!-- <div class="userAcount">
			<ul class="list-unstyled inneruser m-0 d-flex align-items-center gap-4">
				<li><a href="javascript:;" class="user"><img src="assets/img/header/person-fill.svg" alt=""></a></li>
				<li><a href="javascript:;" class="user"><img src="assets/img/header/basket.svg" alt=""></a></li>
				<li><a href="javascript:;" class="user"><img src="assets/img/header/search.svg" alt=""></a></li>
			</ul>
		</div> -->
		<div class="text-center"><a href="contact.html" class="download_btn main_btn more_btn text-theme2 text-decoration-none">Get Started</a></div>
	</div>
</div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title fs-30 fw-normal tag_title" id="offcanvasRightLabel">Resume</h5>
		<button type="button" class="btn-close shadow-none border-0" data-bs-dismiss="offcanvas"
			aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-unstyled ps-5 tag_list">
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Home</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">About Us</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Services</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Package</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Support</a></li>
			<li class="pb-3"><a href="contact.html" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Contacts</a></li>
		</ul>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content h-100">
			<div class="modal-header">
				<h1 class="modal-title fs-30 fw-normal tag_title" id="exampleModalLabel">Resume</h1>
				<button type="button" class="btn-close shadow-none border-0" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ul class="list-unstyled ps-5 tag_list">
					<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Home</a></li>
					<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">About Us</a></li>
					<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Services</a></li>
					<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Package</a></li>
					<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Support</a></li>
					<li class="pb-3"><a href="contact.html" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

