<nav class="navbar navbar-expand-lg  position-fixed w-100 bg-transparent py-3 top-0">
<div class="container">
	<a class="navbar-brand fw-medium" href="index.html"><img src="assets/img/header/logo.png" alt="Logo" class="w-100 h-100"></a>
		<div class="icone_list d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
			<img src="assets/img/header/list.svg" class="w-100" alt="">
		</div>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mx-auto align-items-center gap-3">
			<li class="nav-item"><a class="nav-link position-relative active fs-16 fw-bold fw-normal text-white" aria-current="page" href="index.html">Home</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="about.html">About Us</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Services</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Package</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Blog</a></li>
			<li class="nav-item"><a class="nav-link position-relative fs-16 fw-bold fw-normal text-white" href="javascript:;">Contacts</a></li>
		</ul>
		<div class="text-center"><a href="javascript:;" class="download_btn main_btn more_btn text-theme2 text-decoration-none">Get Started</a></div>
	</div>
</div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header bg-dark">
		<h5 class="offcanvas-title fw-normal tag_title" id="offcanvasRightLabel"><img src="assets/img/header/logo.png" alt="Logo" class="h-100"></h5>
		<button type="button" class="closeBtn bg-transparent p-0 shadow-none border-0" data-bs-dismiss="offcanvas"
			aria-label="Close"><img src="assets/img/header/close.svg" alt="" class="w-100"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-unstyled ps-5 tag_list">
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Home</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">About Us</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Services</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Package</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Blog</a></li>
			<li class="pb-3"><a href="javascript:;" class="fs-14 text-uppercase fw-normal text-black text-decoration-none">Contacts</a></li>
		</ul>
	</div>
</div>
