%tras-01 {
  transition: 0.1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-02 {
  transition: 0.2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-03 {
  transition: 0.3s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-04 {
  transition: 0.4s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-05 {
  transition: 0.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-06 {
  transition: 0.6s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-07 {
  transition: 0.7s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-08 {
  transition: 0.8s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-09 {
  transition: 0.9s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-1 {
  transition: 1s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-15 {
  transition: 1.5s all cubic-bezier(0.25, 0.1, 0, 1.7);
}
%tras-2 {
  transition: 2s all cubic-bezier(0.25, 0.1, 0, 1.7);
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba($black, 0);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba($black, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $theme2;
}


body{
  font-family: 'Poppins', sans-serif;
}

// Font Size
.fs-10 {font-size: 10px;}
.fs-11 {font-size: 11px;}
.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-17 {font-size: 17px;}
.fs-18 {font-size: 18px;}
.fs-19 {font-size: 19px;}
.fs-20 {font-size: 20px;}
.fs-21 {font-size: 21px;}
.fs-22 {font-size: 22px;}
.fs-23 {font-size: 23px;}
.fs-24 {font-size: 24px;}
.fs-25 {font-size: 25px;}
.fs-26 {font-size: 26px;}
.fs-27 {font-size: 27px;}
.fs-28 {font-size: 28px;}
.fs-29 {font-size: 29px;}
.fs-30 {font-size: 30px;}




.page-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  background-color: $white;
  inset: 0;
  & .spinner {
    min-width: 300px;
    min-height: 300px;
    background: $white url(../../img/index/Eclipse-1s-200px.gif);
    background-repeat: no-repeat;
    background-position: center;
  }
}


// contact_us_page  
.contact_us_page {
  background:  url(../../img/contact_us/banner-bg.webp);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  & .home_heading {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.form-control , .form-select{
  font-weight: 600;
  &:focus-visible{
    border-color: $theme1;
    
  }
}

.contact_form {
  font-family: Arial, Helvetica, sans-serif !important;
  & .card {
    box-shadow: 0px 0 30px rgb(1 41 112 / 10%);
  }
}

.contect_us_card {
  & .card {
    background: linear-gradient(45deg, rgb($black, 0.4) 50%, rgb($black, 0.1) 100%),   url(../../img/contact_us/card_img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: rgb($black, 0.5);
    background-color: $gray-100;
    & .card-body {
      font-family: Arial, Helvetica, sans-serif;
    }
    &::before {
      
    }
  }
}